@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header-section{
  border-bottom: 1px solid rgb(232, 232, 232);
}

.header-container{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 4rem;  
  margin: 0 auto;
  width: 87%;
}

.logo{
  display: flex;
  align-items: center;
}
 
.gen{
  color: green;
  font-weight: 800;
  font-size: 2rem;
}

.sen {
  color: rgb(194, 83, 14);
  font-weight: 700;
  font-size: 2rem;
}

.nav-area{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nav-links {
  display: flex; 
align-items: center; 
}

.nav-link{
  display: flex; 
align-items: center; 
}

.login, .user, .search{
  display: block; 
padding: 1.5rem; 
color: black;
border-bottom: 4px solid transparent;
border-left: 1px solid rgb(232, 232, 232);
}

.login:hover, .search:hover, .user:hover{
  border-bottom: 4px solid rgb(194, 83, 14);
}
.nav-desc{
  position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
}


.hero-section{
display: flex;
flex-direction: column;
justify-content: center;
}

.hero-container{
  padding-left: 6.5%;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.header-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  min-width: 70%;
}

.hero-header{
  font-size: 3rem;
  font-weight: 900;
}

.hero-description{
  font-weight: 400;
}

.get-started{
  padding: 20px;
  background-color: coral;
  color: #fff;
}

.hero-image{

}

.meal-card-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 500px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}
.meal-card-container .meal-card-container__info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
  color: #fff;
}

.meal-card-container .meal-card-container__info span {
  margin-right: 20px;
}
.meal-card-container .meal-card-container__info i {
  margin-right: 10px;
}
.meal-card-container .meal-card-container__profile {
  background-color: #e4f2fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.meal-card-container .meal-card-container__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.meal-card-container .meal-card-container__profile h2 {
  color: #334454;
  font-size: 1.2rem;
}
.meal-card-container .meal-card-container__profile p {
  color: #a1b2bc;
  font-size: 0.8rem;
}
.meal-card-container .meal-card-container__profile p b {
  font-style: italic;
}

